html,body { height: 90%; margin: 0px; padding: 0px; }
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(204, 204, 204); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(122, 122, 122); 
  }
.imageGalleryItem{
    margin: 5%;
    width: 100%;
    position: absolute;
    top: 15%;
    right: 3%;
    transform: scale(1.7) ;
    transition: .4s ease;
    
}
.imageGalleryItem:hover{
    transform: scale(2.3);
    opacity: 0.3;
    top: 15%;
    right: 3%;
    cursor: pointer;
}
.centerDiv {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0 auto;
    margin-top: 5px;
    font-size: calc(10px + 2vmin);
    color: black;
}
